<div class="form-new row justify-content-center">
  <div class="col-6">
    <h3>Add a session</h3>
    <%= simple_form_for @session do |f| %>
      <%= f.input :session_name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Create session", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
