.Family{
  background-color: rgb(255, 169, 244);
}

.Strategy{
  background-color: rgb(169, 203, 255);
}

.Horror{
  background-color: rgb(55, 131, 74);
}

.Co-op{
  background-color: rgb(247, 228, 143);
}

.Rpg{
  background-color: rgb(238, 122, 107);
}

.Cards {
  background-color: rgb(154, 243, 255);
}
