.simple-calendar {
  table {
    // min-height: 80vh;

    background-color: white;
    box-shadow: 0 0 5px rgb(230,230,230);
  }
  .today {
    background-color: #FAF3DD;
  }

}

.session {
  color: white;
  border-radius: 16px;
  background: #03989e;
  transition: background 0.3s ease;
  font-size: small;
  height: 30px;
  width: 70px;
}

.session:hover {
  background: #d9e476;
  color: black;
}

.my-session {
  color: white;
  border-radius: 16px;
  background: $orange;
  transition: background 0.3s ease;
  font-size: small;
  height: 30px;
  width: 70px;
}

.my-session:hover {
  background: #d0ad2d;
  color: black;
}

.btn-calendar {
  background: #03989e;
  color: white;
  padding: 8px 24px;
  border-radius: $border-radius;
  border: 1px solid #03989e;
  transition: background 0.3s ease;
}
