.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.card {
  // width: 250px;
  border-radius: 16px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: left;
  // padding: 20px;
  border: 1px solid rgb(230,230,230);
  // position: relative;
}

.game-img {
  height: 120px;
  width: auto;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: #fdb6a1 ;
}

.session-img {
  height: 300px;
  width: auto;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  margin: 20px;
}
