.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 16px !important;
  border: rgb(105, 105, 105) 1px solid;
}

.mapboxgl-popup-close-button {
  display: none;
}

#map {
  position: sticky;
  top: 80px;
  border-radius: 16px;
  box-shadow: 0 0 5px rgb(230,230,230);
}
