// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// banner
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: url(banner1.png);
  height: 700px;
}

.banner h1 {
  margin: 0;
  color: rgb(22, 21, 21);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  padding-top: 50px;
}

.banner p {
  font-size: 20px;
  color: rgb(49, 42, 42);
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-top: 16px;
}
